<div data-controller="autocomplete" data-autocomplete-url-value="/spots/search" role="combobox">
    <%= search_form_for @q_spots, url: spots_path, html: { id: "searchForm", class: "max-w-lg mx-auto px-8 pb-16 md:px-4 md:py-4", data: { turbo_frame: "spots-list" } }  do |f| %>
        <label for="" class="mb-2 text-sm font-medium text-secondary sr-only dark:text-white">検索</label>
        <div class="relative">
            <div class="absolute inset-y-4 md:inset-y-3 start-0 flexed items-center ps-3 pointer-events-none">
                <i class="ph ph-magnifying-glass text-secondary"></i>
            </div>
            <%= f.search_field :name_or_address_cont, data: { autocomplete_target: 'input' }, class: 'block w-full p-4 md:p-3 ps-10 md:ps-8 text-sm text-secondary border border-secondary rounded-full bg-white focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', placeholder: '猫スポット名または住所' %>
            <%= f.hidden_field :name, data: { autocomplete_target: 'hidden' } %>
            <%= f.hidden_field :address, data: { autocomplete_target: 'hidden' } %>
            <ul class="list-group absolute w-full bg-white p-2 shadow z-[1] rounded-box" data-autocomplete-target="results"></ul>
        </div>
        <div class="space-x-2 md:my-4 mt-8 mb-4">
            <div class="my-1 inline-flex text-secondary text-xs rounded-lg py-1 px-1.5 bg-primary items-center hover:bg-primary-hover">
                <%= f.radio_button :with_tag, '', id: "tag_none", checked: true %>
                <%= f.label :with_tag, "指定なし", value: '', id: "tag_none" %>
            </div>
            <% @tags.each do |tag| %>
                <div class="my-1 group inline-flex text-secondary text-xs rounded-lg py-1 px-1.5 bg-primary items-center hover:bg-primary-hover">
                    <%= f.radio_button :with_tag, tag.name, id: "tag_#{tag.id}" %>
                    <i class="ph ph-tag"></i>&nbsp;<%= f.label :with_tag, tag.name, "tag_#{tag.id}" %>
                </div>
            <% end %>
        </div>
        <div class="text-secondary flex-col items-center md:space-y-4">
            <div class="flex space-x-4 md:space-x-0 md:flex-col pt-4 pl-2 mb-4 md:mb-0">
                <div class='label-select flex h-full text-sm space-x-2 items-center'>
                    <%= f.check_box :foster_parents_eq, { include_hidden: false, class: 'search-select text-sm checkbox checkbox-sm checkbox-secondary [--chkbg:theme(colors.secondary)] [--chkfg:white]' }, 1, nil %>
                    <%= f.label :foster_parents_eq, '里親募集あり', class: 'label text-sm font-semibold' %>
                </div>
                <div class='label-select flex h-full text-sm space-x-2 items-center'>
                    <%= f.check_box :adoption_event_eq, { include_hidden: false, class: 'search-select text-sm checkbox checkbox-sm checkbox-secondary [--chkbg:theme(colors.secondary)] [--chkfg:white]' }, 1, nil %>
                    <%= f.label :adoption_event_eq, '譲渡会開催あり', class: 'label text-sm font-semibold' %>
                </div>
            </div>
            <div class="flex md:flex-col md:space-y-3 md:space-x-0 space-x-4 mb-4 md:mb-0">
                <div class='label-select h-full md:w-full w-1/2 text-sm'>
                    <%= f.label :category_id_eq, 'カテゴリ', class: 'label text-sm font-semibold' %>
                    <%= f.collection_select :category_id_eq, @categories, :id, :name,  { include_blank: '指定なし' }, { class: 'search-select bg-gray-50 border border-gray-300 text-secondary text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' } %>
                </div>
                <div class='label-select h-full md:w-full w-1/2 text-sm md:mb-8'>
                    <%= f.label :prefecture_id_eq, '都道府県', class: 'label text-sm font-semibold' %>
                    <%= f.collection_select :prefecture_id_eq, @prefectures, :id, :name,  { include_blank: '指定なし' }, { class: 'search-select bg-gray-50 border border-gray-300 text-secondary text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' } %>
                </div>
            </div>
            <div class="flex justify-center items-center md:mt-12 mt-8 mb-4">
                <%= f.submit 'この条件で検索する', class: 'font-semibold text-sm rounded-md relative inline-flex group items-center justify-center px-3.5 py-2 m-1 cursor-pointer border-b-4 border-l-2 active:border-accent active:shadow-none shadow-lg bg-gradient-to-tr from-accent to-accent-active border-accent-hover text-white' do %>
                    <span class="absolute w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full group-hover:w-32 group-hover:h-32 opacity-10"></span>
                    <span class="relative"></span>
                <% end %>
            </div>
        </div>
    <% end %>
</div>