<div class="flex flex-col items-start mx-auto w-full px-4 py-6 md:h-80 md:p-4 space-y-2 justify-center border-b md:border md:shadow-sm md:rounded-xl md:hover:shadow-lg" data-controller="image-modal">
    <div class="flex flex-col h-full justify-start space-y-2">
    <%= link_to spot_path(review.spot), data: { turbo: false }, class: "font-bold flex items-center justify-start w-full font-zenmaru text-sm text-neutral whitespace-pre-wrap hover:text-secondary" do %>
        <span><i class="ph-fill ph-map-pin fa-lg inline-block"></i></span>&nbsp;<%= review.spot.name %>
    <% end %>
    <div class="flex w-full justify-between">
        <div class="flex items-center">

            <div class="avatar">
                <div class="w-12 rounded-full <%= user_rank(@user) %>-border">
                <% if review.user.avatar.present? %>
                    <%= image_tag review.user.avatar.url %>
                <% else %>
                    <%= image_tag("default.webp") %>
                <% end %>
                </div>
            </div>
            <div class="md:ml-2 ml-3">
                <span class="block text-sm md:text-xs text-neutral"><%= review.user.name %></span>
                <span class="block text-xs md:text-[9px] text-secondary"><%= review.created_at.strftime('%Y/%m/%d') %></span>
            </div>
        </div>
        <div class="flex space-x-2 items-center">
            <% if review.user == current_user %>
                <%= render 'spots/crud_menus', review: review %>
            <% end %>
        </div>
    </div>

    <div class="-ml-2 flex gap-0.5 pl-2 py-2">  
        <% rating = review.rating %>
        <% full_stars = rating %>
        <% empty_stars = 5 - rating %>
        
        <% full_stars.times do %>
            <i class="ph-fill ph-star fa-lg text-yellow-400"></i>
        <% end %>
        
        <% empty_stars.times do %>
            <i class="ph-fill ph-star fa-lg text-gray-100"></i>
        <% end %>
    </div>
    
      <!-- stars - end -->
    <div class="review text-secondary text-xs">
        <% if review.body.present? && review.long_body? %>
            <%= review.body.first(30) %>...
            <%= link_to "もっと見る", '#' %>
        <% else %>
            <%= review.body %>
        <% end %>
    </div>

    <% if review.images.present? %>
        <div class="flex space-x-2">
            <% review.images.each do |image| %>
                <%= image_tag image.to_s, data: { action: "click->image-modal#open", image_url: image.url }, class: "inline-block rounded h-12 w-12" %>
            <% end %>
        </div>
    <% end %>

        <!-- モーダル -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-50 hidden z-50" data-image-modal-target="imageModal">
        <div class="fixed inset-0 flex items-center justify-center z-100">
            <% if review.images.length == 1 %>
                <div class="rounded shadow-md relative">
                    <img data-image-modal-target="image" class="max-w-96 max-h-96"/>
                    <button data-action="click->image-modal#close" class="absolute top-3 right-4 m-4 text-secondary rounded-full bg-white shadow-md px-2 py-1 items-center">
                        <i class="ph-bold ph-x text-secondary"></i>
                    </button>
                </div>
            <% else %>
                <div class="bg-white p-4 rounded shadow-md relative flex items-center">
                    <button data-action="click->image-modal#prev" class="absolute left-0 top-1/2 transform -translate-y-1/2 p-2 text-primary text-3xl bg-opacity-50 rounded-full">
                        <i class="ph-bold ph-caret-left fa-2xl"></i>
                    </button>
                    <div class="carousel transition duration-700 ease-in-out" data-image-modal-target="carousel">
                        <% review.images.each_with_index do |image, index| %>
                            <img src="<%= image.url %>" class="max-w-96 max-h-96 <%= index == 0 ? 'block' : 'hidden' %>" data-image-modal-target="carouselImage"/>
                        <% end %>
                    </div>
                    <div class="absolute bottom-8 left-1/2 transform -translate-x-1/2 flex space-x-2 mt-4" data-image-modal-target="indicators">
                        <% review.images.each_with_index do |image, index| %>
                            <div class="indicator w-3 h-3 rounded-full <%= index == 0 ? 'bg-secondary' : 'bg-primary' %>" data-image-modal-target="indicator" data-action="click->image-modal#indicatorClick" data-index="<%= index %>"></div>
                        <% end %>
                    </div>
                    <button data-action="click->image-modal#next" class="absolute right-0 top-1/2 transform -translate-y-1/2 p-2 text-primary text-3xl bg-opacity-50 rounded-full">
                        <i class="ph-bold ph-caret-right fa-2xl"></i>
                    </button>
                    <button data-action="click->image-modal#close" class="absolute top-4 right-6 m-4 text-secondary rounded-full bg-white shadow-md px-2 py-1 items-center">
                        <i class="ph-bold ph-x h-6 w-6 text-secondary"></i>
                    </button>
                </div>
            <% end %>
        </div>
    </div>

    <div class="flex flex-row flex-wrap space-x-2">
      <% if review.tags.present? %>
        <% review.tags.each do |tag| %>
                <%= link_to spots_path(tag_id: tag.id), data: { turbo_frame: "reviews_list" }, class: "inline-flex text-secondary text-xs rounded-lg py-1.5 px-2 border border-secondary items-center hover:bg-primary-hover" do %>
                <i class="ph ph-tag"></i>&nbsp;<%= tag.name %>
            <% end %>
        <% end %>
      <% end %>
    </div>
    </div>


    <% unless review.user == current_user %>
        <div class="h-full justify-end w-full flex flex-col mx-auto space-y-2 pt-2">
            <% if user_signed_in? %>
                <div class='mx-auto'>
                    <% if current_user.helpful?(review) %>
                        <%= render 'reviews/unhelpful', { review: review } %>
                    <% else %>
                        <%= render 'reviews/helpful', { review: review } %>
                    <% end %>
                </div>
            <% else %>
            <div class='mx-auto'>
                <button data-action="click->login-modal#openModal" class="bg-primary text-secondary text-sm px-3 drop-shadow-md py-2 rounded-lg flex mx-auto items-center justify-center">
                    <p><i class="ph ph-fill ph-hand-heart fa-lg"></i> 参考になった</p>
                </button>
                <% if review.helpfuls.present? %>
                    <p class="text-[10px] text-secondary dark:text-gray-400 group-hover:text-neutral">この口コミは<%= review.helpfuls.count %>人の参考になりました</p>
                <% end %>
            </div>
            <% end %>
            <% if review.helpfuls.present? %>
              <div class="flex justify-center mx-auto">
                <p class="pt-1 text-[10px] text-secondary dark:text-gray-400 group-hover:text-neutral">この口コミは<%= review.helpfuls.count %>人の参考になりました</p>
              </div>
            <% end %>
        </div>
    <% end %>
</div>
