<div class="bg-white shadow-sm flex md:flex-col mx-auto w-full h-full border rounded-xl md:mb-50 hover:shadow-lg group my-3">
    <div class="flex-shrink-0 rounded-l-xl md:rounded-t-xl md:rounded-b-none relative overflow-hidden h-32 w-1/3 md:h-42 md:w-full md:rounded-t-xl">
        <%= link_to spot_path(spot) do %>
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=1000&maxwidth=1000&photo_reference=<%= spot.spot_images.first.image %>&key=<%= ENV['GMAP_API_KEY'] %>" class="w-full h-full absolute rounded-l-xl md:rounded-t-xl md:rounded-b-none top-0 left-0 md:left-none object-cover transition-transform duration-200 ease-in-out group-hover:scale-110 group-hover:rounded-xl" alt="Image Description">
        <% end %>
    </div>
    <div class="flex flex-wrap w-full md:h-full">
        <div class="p-4 md:p-2.5 flex flex-col h-full sm:p-7 w-full md:relative">
            <div class="hidden md:block bg-accent absolute top-0 -mt-3 flex items-center px-3 py-1.5 leading-none w-auto inline-block rounded-full text-xs font-medium uppercase text-white inline-block">
                <span><%= spot.category.name %></span>
            </div>
            <%= link_to spot_path(spot) do %>
                <h2 class="font-bold text-neutral font-zenmaru md:mt-2 md:px-1.5 overflow-hidden w-full whitespace-nowrap text-overflow-ellipsis"><%= spot.name %></h2>
            <% end %>
            <p class="md:px-1.5 text-xs text-secondary py-1 dark:text-neutral-500"><%= formatted_address(spot.address) %></p>
            <div class="justify-between flex items-end h-full md:space-x-4 space-x-2">
                <div class="flex space-x-2">
                    <div class="inline-flex">
                        <p class="md:hidden text-xs text-white py-1 px-2 rounded-full bg-accent dark:text-neutral-500"><%= spot.category.name %></p>
                    </div>
                    <p class="text-secondary">⭐️ <%= spot.rating %></p>
                </div>
                <div class="flex space-x-2">
                    <%= link_to '#', class: "text-secondary" do %><i class="ph-light ph-export fa-lg"></i><% end %>
                    <%= render 'bookmark_buttons', { spot: spot } %>
                </div>
            </div>
        </div>
    </div>
</div>