<div class="bg-white shadow-sm flex flex-col mx-auto w-full h-full border rounded-xl md:mb-50 hover:shadow-lg group my-3">
    <div class="flex-shrink-0 rounded-t-xl rounded-b-none relative overflow-hidden h-32 md:h-42 w-full ">
        <%= link_to spot_path(spot), data: { turbo: false } do %>
            <% prioritized_image = spot.prioritized_spot_image %>
            <% if prioritized_image.present? %>
                <img src="https://maps.googleapis.com/maps/api/place/photo?maxheight=1000&maxwidth=1000&photo_reference=<%= prioritized_image.image %>&key=<%= ENV['GMAP_API_KEY'] %>" class="w-full h-full absolute rounded-t-xl md:rounded-b-none top-0 left-0 md:left-none object-cover transition-transform duration-200 ease-in-out group-hover:scale-110 group-hover:rounded-xl" alt="Image Description">
            <% else %>
                <% image_tag('default.png', class: "h-full absolute rounded-t-xl rounded-b-none top-0 left-1/2 transform -translate-x-1/2 md:left-none object-cover transition-transform duration-200 ease-in-out group-hover:scale-110 group-hover:rounded-xl")%>
            <% end %>
        <% end %>
    </div>
    <div class="flex flex-wrap w-full md:h-full h-28">
        <div class="p-2 md:p-2.5 flex flex-col h-full sm:p-7 w-full relative">
            <div class="bg-accent absolute top-0 -mt-3 flex items-center font-semibold px-3 py-1.5 leading-none w-auto rounded-full text-xs uppercase text-white">
                <span><i class="ph-fill ph-star fa-lg"></i> <%= spot.rating %></span>
            </div>
            <p class="md:px-1.5 mt-2 text-[10px] text-secondary dark:text-neutral-500"><%= spot.category.name %> / <%= formatted_address(spot.address) %></p>
            <%= link_to spot_path(spot), data: { turbo: false } do %>
                <div class="font-bold text-sm text-neutral font-zenmaru md:px-1.5 overflow-hidden w-full whitespace-nowrap text-overflow-ellipsis break-words whitespace-pre-wrap"><%= spot.name %></div>
            <% end %>
            <div class="justify-between flex items-end h-full md:space-x-4 space-x-2">
                <div class="flex space-x-2">
                    <div class="flex space-x-2 md:mb-1">
                    <% if spot.foster_parents_before_type_cast == 1 %>
                        <div class="bg-primary px-2 py-1 rounded-md shadow-md text-secondary font-semibold text-sm items-center font-zenmaru">里</div>
                    <% end %>
                    <% if spot.adoption_event_before_type_cast == 1 %>
                        <div class="bg-primary px-2 py-1 rounded-md shadow-md text-secondary font-semibold text-sm items-center font-zenmaru">譲</div>
                    <% end %>
                    <% if spot.age_limit_before_type_cast == 1 %>
                        <div class="hidden">
                            <p class="text-xs text-white py-1 px-2 rounded-full bg-accent dark:text-neutral-500"><%= spot.age_limit_i18n %></p>
                        </div>
                    <% end %>
                </div>
                </div>
                <div class="flex">
                    <%= render 'visited_buttons', { spot: spot } %>
                    <%= render 'bookmark_buttons', { spot: spot } %>
                </div>
            </div>
        </div>
    </div>
</div>