<div class="md:flex md:mt-16">
  <div data-controller="sidebar">
    <%= render "spots/sidebar" %>
  </div>
  <div class="md:flex-1 md:pl-64">
    <div class="flex flex-col items-center justify-center">
      <div class="bg-white rounded-b-lg w-full">
      <%= render "shared/search", q: @q, url: spots_path %>
      <div class="mx-auto flex w-11/12 max-w-md justify-center gap-2.5 pt-4 px-1 pb-6">
        <button onclick="showCurrentLocation()" class="w-1/2 btn inline-block rounded-full py-3 font-sans text-center text-sm font-semibold outline-none transition duration-100 text-secondary hover:bg-primary-hover bg-primary focus-visible:ring sm:w-1/2 md:w-1/2">
          <i class="ph-bold ph-gps fa-lg"></i> 現在地を表示
        </button>
        <button class="w-1/2 btn inline-block rounded-full py-3 font-sans text-center text-sm font-semibold outline-none transition duration-100 text-secondary hover:bg-primary-hover bg-primary focus-visible:ring sm:w-1/2 md:w-1/2"><i class="ph-bold ph-list-magnifying-glass fa-lg"></i> 絞り込み</button>
      </div>
      <div class="mx-auto flex w-11/12 max-w-md justify-center pt-4 px-1 pb-6">
      <div id="category-buttons" class="flex flex-wrap gap-2 p-4">
      <% Category.all.each do |category| %>
        <button data-category-id="<%= category.id %>" class="btn bg-primary text-secondary py-1 px-2 rounded-full hover:bg-primary-dark">
          <%= category.name %>
        </button>
      <% end %>
      <button id="reset-button" class="btn bg-secondary text-white py-2 px-4 rounded hover:bg-secondary-dark">
      解除
    </button>
    </div>
      </div>
      </div>
      <div id="map"
       data-cafe-icon="<%= asset_path('cafe.png') %>"
       data-zoo-icon="<%= asset_path('zoo.png') %>"
       data-island-icon="<%= asset_path('island.png') %>" 
       data-lat="35.6895" data-lng="139.6917" 
       class="w-screen h-screen md:h-96 md:w-11/12 md:rounded-xl"></div>


  <div class="flex flex-col items-center justify-center md:my-8 md:bottom-0 bottom-20 w-full relative">
    <% @spots.each do |spot| %>
    <%= link_to spot_path(spot), data: { turbo: false }, class: "w-11/12 rounded-xl" do %>
      <div id="infoCard-<%= spot.id %>" class="hidden bg-white border rounded-xl shadow-sm flex mx-auto w-11/12 md:w-full absolute md:relative bottom-0 inset-x-0 z-10 md:mb-50 hover:shadow-lg group">
      <!-- ×ボタン -->
      <button onclick="hideInfoCard(event, <%= spot.id %>)" class="absolute top-1 right-2 text-secondary focus:outline-none z-20 md:hidden">
        <i class="ph ph-x"></i>
      </button>  
      <div class="flex-shrink-0 relative overflow-hidden h-33 w-32 md:w-1/3 md:rounded-se-none">
          <img id="spotImage-<%= spot.id %>" class="w-full h-full absolute top-0 rounded-l-xl left-0 object-cover transition-transform duration-200 ease-in-out group-hover:scale-110 group-hover:rounded-l-xl" src="" alt="Image Description">
        </div>
        <div class="flex flex-wrap">
          <div class="p-4 flex flex-col h-full sm:p-7">
            <h3 id="spotName-<%= spot.id %>" class="text-lg font-bold text-neutral font-zenmaru overflow-hidden whitespace-nowrap text-overflow-ellipsis"></h3>
            <div class="justify-start flex md:space-x-4 space-x-2 mt-2">
            <div class="inline-flex">
            <p id="spotCategory-<%= spot.id %>" class="text-xs text-white py-1 px-2 rounded-full bg-accent dark:text-neutral-500"></p>
            </div>
            <p id="spotRating-<%= spot.id %>" class="text-secondary"></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
  </div>
  </div>
</div>

<%= javascript_include_tag "gmap" %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAP_API_KEY'] %>&callback=initMap" async defer></script>