<% content_for(:title, t('spots.index.title')) %>
<div class="flex flex-col items-center justify-center w-full md:pt-24 md:bg-primary">
    <div class="md:hidden fixed bottom-16 right-4 z-20">
        <button class="md:hidden bg-white right-4 btn w-12 h-9 border-none rounded-full items-center shadow-lg" onclick="my_modal_2.showModal()"><i class="ph-bold ph-question fa-2xl text-primary-hover"></i></button>
    </div>
    <dialog id="my_modal_2" class="modal">
        <div class="modal-box">
            <div class="w-full grid md:grid-cols-2">
                <div class="flex justify-center items-center">
                    <div class="flex flex-col space-y-4 text-left text-secondary">
                        <h2 class="text-xl font-zenmaru font-bold text-neutral text-center">ボタン説明</h2>
                        <div><i class="ph-fill ph-heart fa-xl w-full h-3 mt-2 text-gray-400"></i><span class="text-sm">&ensp;&ensp;：ブックマーク</span></div>
                        <div><i class="ph-fill ph-seal-check fa-xl w-full h-3 mt-2 text-gray-400"></i><span class="text-sm">&ensp;&ensp;：訪問済にする</span></div>
                        <h2 class="text-xl font-zenmaru font-bold text-neutral text-center">マーク説明</h2>
                        <div><div class="inline-flex bg-primary px-2 py-1 rounded-md shadow-md text-secondary font-semibold text-sm items-center font-zenmaru">里</div><span class="text-sm">&ensp;：里親募集中</span></div>
                        <div><div class="inline-flex bg-primary px-2 py-1 rounded-md shadow-md text-secondary font-semibold text-sm items-center font-zenmaru">譲</div><span class="text-sm">&ensp;：譲渡会開催あり</span></div>
                        <div><div class="flex-cols px-2 py-1 rounded-md shadow-md text-white font-semibold text-xs items-center bg-accent"><span><i class="ph-bold ph-warning"></i>&ensp;注意</span><br>里親募集や譲渡会の詳細につきましては、各猫スポットの公式サイトやSNSでご確認ください。</div></div>
                    </div>
                </div>
                <div class="flex">
                    <%= image_tag("rank.webp") %>
                </div>
            </div>
        </div>
        <form method="dialog" class="modal-backdrop">
            <button>close</button>
        </form>
    </dialog>
    <div class="md:w-11/12 w-full">
        <div data-controller="tabs rounded-t-lg" data-tabs-active-tab-class="-mb-px border-l border-t border-r rounded-t-lg">
            <ul class="list-reset flex border-b rounded-t-lg">
                <li class="-mb-px mr-1 w-1/2 bg-white rounded-t-lg text-center" data-tabs-target="tab" data-action="click->tabs#change">
                    <a class="bg-white inline-block py-2 px-4 rounded-t-lg text-secondary hover:text-neutral font-semibold no-underline rounded-t-lg" href="#" data-turbo="false">スポット一覧</a>
                </li>
                <li class="mr-1 w-1/2 bg-white rounded-t-lg text-center" data-tabs-target="tab" data-action="click->tabs#change">
                    <a class="bg-white inline-block py-2 px-4 rounded-t-lg text-secondary hover:text-neutral font-semibold no-underline rounded-t-lg" href="#" data-turbo="false">レビュー一覧</a>
                </li>
            </ul>
            <div id="details-tab" class="hidden bg-white py-4 px-4 w-full h-full mb-12 md:mb-0 border-l border-b border-r rounded-b-lg rounded-r-lg" data-tabs-target="panel">
                <div class="w-full mx-auto md:h-full pb-8 ">
                    <div class="grid md:grid-cols-4">
                        <div class="md:block md:col-span-1 md:p-4 md:mt-12 hidden">
                            <%= render 'spots/index_spot_search' %>
                        </div>
                        <div class="md:col-span-3">
                            <div class="flex justify-end items-center" data-controller="drawer">
                                <div class="dropdown dropdown-end" data-controller="sort">
                                    <div tabindex="0" role="button" class="hidden md:btn m-1 bg-white border-none md:rounded-full items-center shadow-lg" data-sort-target="sortButton" data-current-sort="<%= @current_sort %>">
                                        <i class="ph-bold ph-arrows-down-up fa-2xl text-primary-hover"></i>
                                        <span class="text-[12px] text-secondary dark:text-gray-400 group-hover:text-neutral">
                                            <%= case @current_sort
                                            when "rating desc" then "高評価"
                                            when "created_at desc" then "新着順"
                                            else "標準"
                                            end %>
                                        </span>
                                    </div>
                                    <ul tabindex="0" class="dropdown-content menu bg-white rounded-box z-[1] w-52 p-2 shadow-lg text-neutral" data-sort-target="sortOptions" data-action="click->sort#updateSortLabel">
                                        <li class="w-full hover:bg-primary"><%= sort_link(@q_spots, :rating, "高評価", { default_order: :desc }) %></li>
                                        <li class="w-full hover:bg-primary"><%= sort_link(@q_spots, :created_at, "新着順", { default_order: :desc }) %></li>
                                        <li class="w-full hover:bg-primary"><%= sort_link(@q_spots, :created_at, "標準", { default_order: :asc }) %></li>
                                    </ul>
                                </div>
                                <button class="hidden md:btn bg-white w-12 h-9 border-none md:rounded-full items-center shadow-lg" onclick="my_modal_2.showModal()"><i class="ph-bold ph-question fa-2xl text-primary-hover"></i></button>
                                <dialog id="my_modal_3" class="modal">
                                    <div class="modal-box">
                                    </div>
                                    <form method="dialog" class="modal-backdrop">
                                        <button>close</button>
                                    </form>
                                </dialog>
                            </div>
                            <%= turbo_frame_tag "spots-list" do %>
                                <div class="md:hidden" data-controller="dropdown">
                                    <div class="join bg-primary fixed bottom-16 left-1/5  transform -translate-x-1/5 z-10" data-controller="sort">
                                        <button tabindex="0" class="btn join-item border-secondary" data-action="dropdown#toggle click@window->dropdown#hide" data-sort-target="sortButton" data-current-sort="<%= @current_sort %>">
                                            <i class="ph-bold ph-arrows-down-up fa-2xl text-primary-hover"></i>
                                            <span class="text-[12px] text-secondary dark:text-gray-400 group-hover:text-neutral">
                                                <%= case @current_sort
                                                    when "rating desc" then "高評価"
                                                    when "created_at desc" then "新着順"
                                                    else "標準"
                                                    end %>
                                            </span>
                                        </button>
                                        <button class="btn join-item rounded-r-lg border-secondary bg-primary hover:bg-primary" data-drawer-target="drawer-swipe" data-drawer-show="drawer-swipe" data-drawer-placement="bottom" data-drawer-edge="true" data-drawer-edge-offset="bottom-[60px]" data-drawer-backdrop="true" aria-controls="drawer-swipe" data-drawer-body-scrolling="true">
                                            <i class="ph-bold ph-list-magnifying-glass fa-2xl text-primary-hover"></i>
                                            <span class="text-[12px] text-secondary dark:text-gray-400 group-hover:text-neutral">絞り込み</span>
                                        </button>
                                    </div>
                                    <ul  
                                    data-dropdown-target="menu"
                                    class="hidden transition transform fixed bottom-28 z-10 w-52 bg-primary rounded-lg px-4 pt-2 pb-4 space-y-4 text-sm shadow-lg text-neutral"
                                    data-transition-enter-from="opacity-0 scale-95"
                                    data-transition-enter-to="opacity-100 scale-100"
                                    data-transition-leave-from="opacity-100 scale-100"
                                    data-transition-leave-to="opacity-0 scale-95"
                                    data-sort-target="sortOptions"
                                    data-action="click->sort#updateSortLabel"
                                    >
                                        <li class="w-full hover:bg-primary-hover"><%= sort_link(@q_spots, 'rating', '高評価', { default_order: :desc }) %></li>
                                        <li class="w-full hover:bg-primary-hover"><%= sort_link(@q_spots, 'created_at desc', '新着順', { default_order: :desc }) %></li>
                                        <li class="w-full hover:bg-primary-hover"><%= sort_link(@q_spots, 'created_at asc', '標準', { default_order: :asc }) %></li>
                                    </ul>
                                </div>

                                <!-- drawer component -->
                                <div id="drawer-swipe" class="md:hidden fixed z-40 w-full overflow-y-auto bg-white border-t border-gray-200 rounded-t-lg dark:border-gray-700 dark:bg-gray-800 transition-transform bottom-0 left-0 right-0 translate-y-full bottom-[60px]" tabindex="-1" aria-labelledby="drawer-swipe-label">
                                    <div class="p-4 cursor-pointer hover:bg-gray-50 dark:hover:bg-gray-700" data-drawer-toggle="drawer-swipe">
                                        <span class="absolute w-8 h-1 -translate-x-1/2 bg-gray-300 rounded-lg top-3 left-1/2 dark:bg-gray-600"></span>
                                        <h5 id="drawer-swipe-label" class="inline-flex items-center text-base text-gray-500 dark:text-gray-400 font-medium">
                                        <i class="ph-bold ph-list-magnifying-glass fa-2xl text-primary-hover"></i>&ensp;絞り込み</h5>
                                    </div>
                                    <%= render 'spots/index_spot_search' %>
                                </div>
                                <% if params[:q].present? && params[:q][:s].blank? %>
                                    <div class="flex justify-start items-center md:px-8 max-[600px]:w-full max-[600px]:border-b-2 md:mt-8">
                                        <div class="text-sm text-secondary">
                                            <p class="text-lg"><span class="text-neutral text-xl font-semibold"><%= @spots_count %>件</span>&ensp;「<%= search_conditions(params) %>」の検索結果</p>
                                        </div>
                                    </div>
                                <% end %>
                                <% if @spots.present? %>
                                    <div class="pb-16 pt-8 md:grid md:grid-cols-3 md:gap-8 md:pr-8 md:pl-4" data-controller="login-modal">
                                        <% @spots.each do |spot| %>
                                            <%= render 'spots/spot', spot: spot %>
                                        <% end %>
                                        <div class="flex items-center justify-center">
                                            <%= paginate @spots, window: 2 %>
                                        </div>
                                        <% unless user_signed_in? %>
                                            <%= render 'shared/login_modal' %>
                                        <% end %>
                                    </div>
                                <% else %>
                                    <div class="mx-auto flex flex-col items-center gap-2.5 justify-center w-11/12 h-full">
                                        <%= image_tag("936.webp", class: "h-full md:h-64 md:w-56 flex items-center justify-center") %>
                                        <h3 class="font-bold flex items-center justify-center w-full font-zenmaru text-neutral text-sm md:text-lg"> <i class="ph ph-empty fa-lg"></i>  検索結果がありません</h3>
                                        <p class="text-sm flex items-center justify-center w-full text-secondary">条件を変えて検索してみてね！</p>
                                    </div>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <% if user_signed_in? %>
                    </div>
                <% end %>
                <div id="review-tab" class="hidden bg-white p-4 w-full h-full border-l border-b border-r rounded-l-lg rounded-b-lg" data-tabs-target="panel">
                    <div class="w-full mx-auto md:h-full pb-8 ">
                        <div class="grid md:grid-cols-4">
                            <div class="md:col-span-1 md:p-4 md:mt-12">
                                <div data-controller="autocomplete" data-autocomplete-url-value="/reviews/search" role="combobox">
                                    <%= search_form_for @q_reviews, url: spots_path, html: { id: "searchForm", class: "max-w-lg mx-auto py-8 md:py-4 hidden md:block", data: { turbo_frame: "reviews-list" } }  do |f| %>
                                        <label for="" class="mb-2 text-sm font-medium text-secondary sr-only dark:text-white">検索</label>
                                        <div class="relative">
                                            <div class="absolute inset-y-4 md:inset-y-3 start-0 flexed items-center ps-3 pointer-events-none">
                                                <i class="ph ph-magnifying-glass text-secondary"></i>
                                            </div>
                                            <%= f.search_field :spot_name_or_spot_address_or_body_cont, data: { autocomplete_target: 'input' }, class: 'block w-full p-4 md:p-3 ps-10 md:ps-8 text-sm text-secondary border border-secondary rounded-full bg-white focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500', placeholder: '猫スポット名または住所' %>
                                            <%= f.hidden_field :spot_name, data: { autocomplete_target: 'hidden' } %>
                                            <%= f.hidden_field :spot_address, data: { autocomplete_target: 'hidden' } %>
                                            <%= f.hidden_field :body, data: { autocomplete_target: 'hidden' } %>
                                            <%= f.submit class: 'md:hidden text-white absolute fixed inset-y-2 end-2 py-2 h-9 bg-accent hover:bg-accent-hover focus:ring-4 focus:outline-none focus:ring-primary font-medium rounded-full text-sm px-4 py-0.5' %>
                                            <ul class="list-group absolute w-full bg-white p-2 shadow z-[1] rounded-box" data-autocomplete-target="results"></ul>
                                        </div>
                                        <div class="flex md:flex-col md:space-y-3 md:space-x-0 space-x-4 mt-8 text-secondary">
                                            <div class='label-select h-full md:w-full w-1/2 text-sm'>
                                                <%= f.label :spot_category_id_eq, 'カテゴリ', class: 'label text-sm font-semibold' %>
                                                <%= f.collection_select :spot_category_id_eq, @categories, :id, :name,  { include_blank: '指定なし' }, { class: 'search-select bg-gray-50 border border-gray-300 text-secondary text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' } %>
                                            </div>
                                            <div class='label-select h-full md:w-full w-1/2 text-sm md:mb-8'>
                                                <%= f.label :spot_prefecture_id_eq, '都道府県', class: 'label text-sm font-semibold' %>
                                                <%= f.collection_select :spot_prefecture_id_eq, @prefectures, :id, :name,  { include_blank: '指定なし' }, { class: 'search-select bg-gray-50 border border-gray-300 text-secondary text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' } %>
                                            </div>
                                        </div>
                                        <div class="hidden md:flex justify-center items-center md:mt-12">
                                            <%= f.submit 'この条件で検索する', class: 'font-semibold text-sm rounded-md relative inline-flex group items-center justify-center px-3.5 py-2 m-1 cursor-pointer border-b-4 border-l-2 active:border-accent active:shadow-none shadow-lg bg-gradient-to-tr from-accent to-accent-active border-accent-hover text-white' do %>
                                                <span class="absolute w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full group-hover:w-32 group-hover:h-32 opacity-10"></span>
                                                <span class="relative"></span>
                                            <% end %>
                                        </div>
                                    <% end %>
                                    <div class="my-8 flex flex-row flex-wrap space-x-2 items-center space-y-2">
                                        <% if @tags.present? %>
                                            <div class="flex flex-col"><h2 class='text-secondary text-sm font-semibold'>タグ一覧</h2></div>
                                            <br>
                                            <%= link_to spots_path, class: "inline-flex text-white text-xs px-4 py-2 mx-auto bg-secondary border border-secondary rounded-lg hover:bg-primary-hover md:mx-0" do %>
                                                <i class="ph ph-tag"></i>&nbsp;タグ検索解除
                                            <% end %>
                                            <br>
                                            <% @tags.each do |tag| %>
                                                <%= link_to spots_path(tag_id: tag.id), data: { turbo_frame: "reviews_list" }, class: "inline-flex text-secondary text-xs rounded-lg py-1.5 px-2 border border-secondary items-center hover:bg-primary-hover" do %>
                                                    <i class="ph ph-tag"></i>&nbsp;<%= tag.name %>
                                                <% end %>
                                            <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <div class="md:col-span-3"  data-controller="login-modal">
                                <div class="flex justify-end">
                                    <button class="hidden md:btn bg-white w-12 h-9 border-none md:rounded-full items-center" onclick="my_modal_2.showModal()"><i class="ph-bold ph-question fa-2xl text-primary-hover"></i></button>
                                    <dialog id="my_modal_3" class="modal">
                                        <div class="modal-box">
                                        </div>
                                        <form method="dialog" class="modal-backdrop">
                                            <button>close</button>
                                        </form>
                                    </dialog>
                                </div>

                                <%= turbo_frame_tag "reviews-list" do %>
                                    <%= turbo_frame_tag 'tags_search' do %>
                                        <% if @reviews.present? %>
                                            <button class="btn md:hidden fixed bottom-16 left-1/2 transform -translate-x-1/2 rounded-lg border-secondary bg-primary hover:bg-primary z-10" data-drawer-target="review-drawer-swipe" data-drawer-show="review-drawer-swipe" data-drawer-placement="bottom" data-drawer-edge="true" data-drawer-edge-offset="bottom-[60px]" data-drawer-backdrop="true" aria-controls="review-drawer-swipe" data-drawer-body-scrolling="true">
                                                <i class="ph-bold ph-list-magnifying-glass fa-2xl text-primary-hover"></i>
                                                <span class="text-[12px] text-secondary dark:text-gray-400 group-hover:text-neutral">絞り込み</span>
                                            </button>
                                            <%= render "spots/review_drawer_swipe"%>
                                            <div class="pb-24 md:pb-16 md:pt-8 md:grid md:grid-cols-3 md:gap-8 md:pr-8 md:pl-4">
                                                <% @reviews.each do |review| %>
                                                    <%= render 'spots/review', review: review, user: review.user %>
                                                <% end %>
                                                <%= paginate @reviews %>
                                            </div>
                                        <% else %>
                                            <div class="">
                                                <h2 class="my-3 text-xl font-zenmaru font-bold text-neutral border-bottom">口コミ一覧</h2>
                                                <div class="mx-auto flex flex-col items-center justify-center w-3/5">
                                                    <%= image_tag("936.webp", class: "h-full md:h-64 md:w-56 flex items-center justify-center") %>
                                                    <h3 class="font-bold flex items-center justify-center w-full font-zenmaru text-neutral text-sm md:text-lg"> <i class="ph ph-empty fa-lg"></i>  まだ口コミがありません</h3>
                                                    <button class="btn md:hidden mt-4 mb-24 flex justify-center rounded-lg border-secondary bg-primary hover:bg-primary z-10 w-48" data-drawer-target="no-review-drawer-swipe" data-drawer-show="no-review-drawer-swipe" data-drawer-placement="bottom" data-drawer-edge="true" data-drawer-edge-offset="bottom-[60px]" data-drawer-backdrop="true" aria-controls="no-review-drawer-swipe">
                                                        <i class="ph-bold ph-list-magnifying-glass fa-2xl text-primary-hover"></i>
                                                        <span class="text-[12px] text-secondary dark:text-gray-400 group-hover:text-neutral">絞り込み条件を変更</span>
                                                    </button>
                                                    <%= render "spots/no_review_drawer_swipe"%>
                                                </div>
                                            </div>
                                        <% end %>
                                    <% end %>
                                <% end %>
                                <%= render 'shared/login_modal' %>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





