<div class="bg-primary">
  <div class="mx-auto max-w-screen-2xl px-4" data-controller="login-modal">
    <header class="mx-auto flex items-center justify-between fixed top-0 left-0 z-50 w-full">
      <a href="/" class="inline-flex px-4 items-center text-3xl text-white font-zenmaru font-bold" aria-label="logo">
        NekoSpot
      </a>
      <div class="md:hidden">
        <button type="button" data-action="click->login-modal#openModal" class="inline-flex flex-col items-center justify-center py-4 px-4 hover:bg-accent group">
            <i class="ph-bold ph-sign-in fa-lg w-5 h-4 mt-2 text-white" aria-hidden="true"></i>
            <span class="text-[12px] text-white dark:text-gray-400">Login</span>
        </button>
      </div>
        <div class="hidden md:block items-center p-4">
        <button type="button" data-action="click->login-modal#openModal" class="hidden relative md:inline-flex items-center justify-start inline-block px-5 py-3 overflow-hidden font-bold rounded-full group">
          <span class="w-32 h-32 rotate-45 translate-x-12 -translate-y-2 absolute left-0 top-0 bg-white opacity-[3%]"></span>
          <span class="absolute top-0 left-0 w-48 h-48 -mt-1 transition-all duration-500 ease-in-out rotate-45 -translate-x-56 -translate-y-24 bg-white opacity-100 group-hover:-translate-x-8"></span>
          <span class="relative w-full text-left text-white transition-colors duration-200 ease-in-out group-hover:text-secondary"><i class="ph-bold ph-sign-in fa-lg"></i> Login</span>
          <span class="absolute inset-0 border-2 border-white rounded-full"></span>
        </button>
      </div>
      <%= render 'shared/login_modal' %>
    </header>
  </div>
</div>



<div class="w-screen h-screen overflow-hidden relative">
  <!-- Slider main container -->
  <div class="swiper max-w-full h-1/2">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper ease-linear">
      <!-- Slides -->
      <% @cat_images.each do |image| %>
        <div class="swiper-slide">
            <%= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxheight=1000&photo_reference=#{image.image}&key=#{ENV['GMAP_API_KEY']}", class: "block w-full h-full object-cover" %>
        </div>
      <% end %>
      <!-- ... -->
    </div>
  </div>
  <div class="swiper2 max-w-full h-1/2">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper !max-w-full">
      <!-- Slides -->
      <% @cat_images.each do |image| %>
        <div class="swiper-slide">
            <%= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxheight=1000&photo_reference=#{image.image}&key=#{ENV['GMAP_API_KEY']}", class: "block w-full h-full object-cover" %>
        </div>
      <% end %>
      <!-- ... -->
    </div>
  </div>
  <div class="absolute inset-0 bg-neutral-600 bg-opacity-50 flex items-center justify-center z-10">
    <div class="min-h-72" data-controller="login-modal">
      <div class="container md:py-16 mx-auto">
        <div class="items-center w-full md:flex">
          <div class="w-full md:w-3/4">
            <div class="flex md:flex-col items-center justify-center w-full">
              <h1 class="hidden md:block text-2xl font-semibold font-zenmaru text-white lg:text-4xl">猫との素敵な出会いをここで</h1>
              <div class="mx-auto md:mt-12 flex w-11/12 md:w-full justify-center fixed bottom-5 z-50 md:relative">
                <%= link_to map_spots_path, data: { "turbolinks" => false }, class: "w-full inline-block rounded-full bg-accent px-8 py-4 text-center text-sm md:text-base font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:text-neutral hover:bg-primary focus-visible:ring sm:w-1/2 text-base md:w-1/2" do %>
                  <i class="ph-bold ph-magnifying-glass fa-lg"></i> 猫スポットを探す
                <% end %>          
              </div>
            </div>
          </div>
          <div class="mt-4 md:mt-0 flex-col items-center justify-center w-full md:w-1/2 relative ">
            <h1 class="md:hidden w-full mx-auto text-center text-2xl font-semibold font-zenmaru text-white md:text-4xl absolute top-1 pb-2">猫との素敵な出会いをここで</h1>
            <%= image_tag 'phone.png', size: '320x480', class: "hidden md:block" %>
            <%= image_tag 'phone.png', size: '260x390', class: "md:hidden mt-4" %>
          </div>
        </div>
        <%= render 'shared/login_modal' %>
      </div>
    </div>
  </div>
  <div class="mx-auto flex w-11/12 justify-center hidden fixed bottom-5 md:right-12 z-50 md:hidden">
    <%= link_to map_spots_path, data: { "turbolinks" => false }, class: "w-11/12 md:w-1/2 inline-block rounded-full bg-accent px-8 py-4 text-center text-md font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:text-neutral hover:bg-primary focus-visible:ring md:w-1/2" do %>
      <i class="ph-bold ph-magnifying-glass fa-lg"></i> 猫スポットを探す
    <% end %>
  </div>
</div>
<!-- Swiper JS -->
<script>
document.addEventListener("DOMContentLoaded", function() {
  const swiper = new Swiper('.swiper', {
    slidesPerView: 2,
    direction: 'horizontal', // or 'vertical' depending on your need
    spaceBetween: 0,
    loop: true,
    speed: 3000, // ループの時間
    allowTouchMove: false, // スワイプ無効
    autoplay: {
      reverseDirection: true, // 逆方向有効化
      delay: 0, // 途切れなくループ
    },
    breakpoints: {
    767: {
      slidesPerView: 5,
      spaceBetween: 0
    }
  }
  });
    const swiper2 = new Swiper('.swiper2', {
    slidesPerView: 2,
    direction: 'horizontal', // or 'vertical' depending on your need
    spaceBetween: 0,
    loop: true,
    speed: 3000, // ループの時間
    allowTouchMove: false, // スワイプ無効
    autoplay: {
      delay: 0, // 途切れなくループ
    },
    breakpoints: {
    767: {
      slidesPerView: 5,
      spaceBetween: 0
    }
  }
  });
});
</script>