<div data-controller="login-modal">
  <div class="mx-auto max-w-screen-2xl px-4">
    <header id="fixed-text" class=" fixed top-0 left-0 z-50 w-full">
      <div class="mx-auto flex items-center justify-between w-full">
        <div>
          <a href="/" class="inline-flex px-4 items-center text-3xl font-zenmaru font-bold" aria-label="logo">
            NekoSpot
          </a>
        </div>
        <div class="md:hidden">
          <button type="button" data-action="click->login-modal#openModal" class="inline-flex flex-col items-center justify-center py-4 px-4 hover:bg-accent group">
              <i class="ph-bold ph-sign-in fa-lg w-5 h-4 mt-2" aria-hidden="true"></i>
              <span class="text-[12px] dark:text-gray-400">Login</span>
          </button>
        </div>
        <div class="hidden md:block items-center p-4">
          <button type="button" data-action="click->login-modal#openModal" class="hidden relative md:inline-flex items-center justify-start inline-block px-5 py-3 overflow-hidden font-bold rounded-full group">
            <span class="w-32 h-32 rotate-45 translate-x-12 -translate-y-2 absolute left-0 top-0 bg-white opacity-[3%]"></span>
            <span class="absolute top-0 left-0 w-48 h-48 -mt-1 transition-all duration-500 ease-in-out rotate-45 -translate-x-56 -translate-y-24 bg-white opacity-100 group-hover:-translate-x-8"></span>
            <span class="relative w-full text-left transition-colors duration-200 ease-in-out group-hover:text-secondary"><i class="ph-bold ph-sign-in fa-lg"></i> Login</span>
            <span class="absolute inset-0 border-2 border-white rounded-full"></span>
          </button>
        </div>
      </div>
    </header>
  </div>

  <div data-midnight="default" class="w-screen h-screen overflow-hidden relative">
    <!-- Slider main container -->
    <div class="swiper max-w-full h-1/2">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper ease-linear">
        <!-- Slides -->
        <% @cat_images.each do |image| %>
          <div class="swiper-slide">
              <%= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxheight=1000&photo_reference=#{image.image}&key=#{ENV['GMAP_API_KEY']}", class: "block w-full h-full object-cover" %>
          </div>
        <% end %>
        <!-- ... -->
      </div>
    </div>
    <div class="swiper2 max-w-full h-1/2">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper !max-w-full">
        <!-- Slides -->
        <% @cat_images.each do |image| %>
          <div class="swiper-slide">
              <%= image_tag "https://maps.googleapis.com/maps/api/place/photo?maxheight=1000&photo_reference=#{image.image}&key=#{ENV['GMAP_API_KEY']}", class: "block w-full h-full object-cover" %>
          </div>
        <% end %>
        <!-- ... -->
      </div>
    </div>
    <div class="absolute inset-0 bg-neutral-600 bg-opacity-50 flex items-center justify-center z-10">
      <div class="min-h-72" data-controller="login-modal">
        <div class="container md:py-16 mx-auto">
          <div class="items-center w-full md:flex">
            <div class="w-full md:w-3/4">
              <div class="flex md:flex-col items-center justify-center w-full">
                <h1 class="hidden md:block text-2xl font-semibold font-zenmaru text-white lg:text-4xl">猫との素敵な出会いをここで</h1>
                <div class="hidden mx-auto md:mt-12 md:flex w-11/12 md:w-full justify-center md:relative">
                      <%= link_to map_spots_path, data: { "turbolinks" => false }, class: "w-full font-semibold py-4 text-lg text-center text-white transition-colors duration-300 bg-accent rounded-full hover:bg-accent-hover ease px-9 md:w-auto" do %>
                        <i class="ph-bold ph-magnifying-glass fa-lg"></i> 猫スポットを探す
                      <% end %>
                </div>
              </div>
            </div>
            <div class="mt-4 md:mt-0 flex-col items-center justify-center w-full md:w-1/2 relative ">
              <h1 class="md:hidden w-full mx-auto text-center text-2xl font-semibold font-zenmaru text-white md:text-4xl absolute top-8">猫との素敵な出会いをここで</h1>
              <%= image_tag 'top_map.webp', size: '320x480', class: "hidden md:block" %>
              <%= image_tag 'top_map.webp', size: '260x390', class: "md:hidden pt-20" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section data-midnight="white" class="pt-24">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="mb-10 lg:mb-16 flex justify-center items-center flex-col gap-x-0 gap-y-6 lg:gap-y-0 lg:flex-row lg:justify-between max-md:max-w-lg max-md:mx-auto">
        <div class="relative w-full text-center lg:text-left lg:w-2/4">
            <h2 class="text-4xl font-bold text-secondary font-zenmaru leading-[3.25rem] lg:mb-6 mx-auto max-w-max lg:max-w-md lg:mx-0">ねこスポット探しをもっと快適に。</h2>
        </div>
        <!-- ここから 後日何か書き加える -->
        <div class="relative w-full text-center  lg:text-left lg:w-2/4">
            <p class="text-lg font-normal text-gray-500 mb-5"></p> 
        </div>
        <!-- ここまで -->
      </div>
      <div class="flex justify-center items-center gap-x-5 gap-y-8 lg:gap-y-0 flex-wrap md:flex-wrap lg:flex-nowrap lg:flex-row lg:justify-between lg:gap-x-8">
        <%= link_to map_spots_path, data: { "turbolinks" => false }, class: "group relative w-full bg-primary shadow-lg rounded-2xl p-4 transition-all duration-500 max-md:max-w-md max-md:mx-auto md:w-2/5 md:h-full xl:p-7 xl:w-1/4 hover:bg-accent" do %>
          <div class="bg-white rounded-full flex justify-center items-center mb-5 w-14 h-14 ">
            <i class="ph ph-magnifying-glass fa-2xl text-accent"></i>
          </div>
          <h4 class="text-xl font-semibold text-secondary font-zenmaru mb-3 capitalize transition-all duration-500 group-hover:text-white">地図から簡単検索</h4>
          <p class="text-sm font-normal text-secondary transition-all duration-500 leading-5 group-hover:text-white">
            カテゴリ・ワード・里親募集の有無等からも検索可能！
          </p>
          <div class="flex justify-center items-center">
          <%= image_tag 'top_map.webp', size: '320x480' %>
          </div>
        <% end %>
        <%= link_to map_spots_path, data: { "turbolinks" => false }, class: "group relative w-full bg-primary shadow-lg rounded-2xl p-4 transition-all duration-500 max-md:max-w-md max-md:mx-auto md:w-2/5 md:h-full xl:p-7 xl:w-1/4 hover:bg-accent" do %>
          <div class="bg-white rounded-full flex justify-center items-center mb-5 w-14 h-14 ">
            <i class="ph ph-map-pin fa-2xl text-accent"></i>
          </div>
          <h4 class="text-xl font-semibold text-secondary font-zenmaru mb-3 capitalize transition-all duration-500 group-hover:text-white">豊富な猫スポット数</h4>
          <p class="text-sm font-normal text-secondary transition-all duration-500 leading-5 group-hover:text-white">
            全国を網羅(予定)！猫と出会える場所だけを掲載
          </p>
          <div class="flex justify-center items-center">
          <%= image_tag 'top_index.webp', size: '320x480' %>
          </div>
        <% end %>
        <%= link_to start_diagnostics_path, class: "group relative w-full bg-primary rounded-2xl shadow-lg p-4 transition-all duration-500 max-md:max-w-md max-md:mx-auto md:w-2/5 md:h-full xl:p-7 xl:w-1/4 hover:bg-accent" do %>
          <div class="bg-white rounded-full flex justify-center items-center mb-5 w-14 h-14 ">
            <i class="ph ph-paw-print fa-2xl text-accent"></i>
          </div>
          <h4 class="text-xl font-semibold text-secondary font-zenmaru mb-3 capitalize transition-all duration-500 group-hover:text-white">３stepでお手軽診断</h4>
          <p class="text-sm font-normal text-secondary transition-all duration-500 leading-5 group-hover:text-white">
            ３つの質問に答えて、あなたに最適なスポットを発見
          </p>
          <div class="flex justify-center items-center">
          <%= image_tag 'top_dianostics.webp', size: '320x480' %>
          </div>
        <% end %>
        <%= link_to spots_path, class: "group relative w-full bg-primary rounded-2xl shadow-lg p-4 transition-all duration-500 max-md:max-w-md max-md:mx-auto md:w-2/5 md:h-full xl:p-7 xl:w-1/4 hover:bg-accent" do %>
          <div class="bg-white rounded-full flex justify-center items-center mb-5 w-14 h-14 ">
            <i class="ph ph-chat-circle-dots fa-2xl text-accent"></i>
          </div>
          <h4 class="text-xl font-semibold text-secondary font-zenmaru mb-3 capitalize transition-all duration-500 group-hover:text-white">レビューで情報交換</h4>
          <p class="text-sm font-normal text-secondary transition-all duration-500 leading-5 group-hover:text-white">
            レビューをシェアし合って、さらに猫スポットを楽しもう
          </p>
          <div class="flex justify-center items-center">
            <%= image_tag 'top_review.webp', size: '320x480' %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <div class="md:hidden flex justify-center items-center w-full mt-20 sticky bottom-4 z-50 mb-20">
    <%= link_to map_spots_path, data: { "turbolinks" => false }, class: "w-11/12 font-semibold py-4 text-lg text-center text-white transition-colors duration-300 bg-accent rounded-full hover:bg-accent-hover ease px-9 md:w-auto" do %>
      <i class="ph-bold ph-magnifying-glass fa-lg"></i> 猫スポットを探す
    <% end %>
  </div>
  <div class="hidden md:flex justify-center items-center w-full my-20">
    <%= link_to map_spots_path, data: { "turbolinks" => false }, class: "w-11/12 font-semibold py-4 text-lg text-center text-white transition-colors duration-300 bg-accent rounded-full hover:bg-accent-hover ease px-9 md:w-auto" do %>
      <i class="ph-bold ph-magnifying-glass fa-lg"></i> 猫スポットを探す
    <% end %>
  </div>
  <%= render 'shared/login_modal' %>
</div>


<!-- Swiper JS -->
<script>
document.addEventListener("DOMContentLoaded", function() {
  const swiper = new Swiper('.swiper', {
    slidesPerView: 2,
    direction: 'horizontal', // or 'vertical' depending on your need
    spaceBetween: 0,
    loop: true,
    speed: 3000, // ループの時間
    allowTouchMove: false, // スワイプ無効
    autoplay: {
      reverseDirection: true, // 逆方向有効化
      delay: 0, // 途切れなくループ
    },
    breakpoints: {
    767: {
      slidesPerView: 5,
      spaceBetween: 0
    }
  }
  });
    const swiper2 = new Swiper('.swiper2', {
    slidesPerView: 2,
    direction: 'horizontal', // or 'vertical' depending on your need
    spaceBetween: 0,
    loop: true,
    speed: 3000, // ループの時間
    allowTouchMove: false, // スワイプ無効
    autoplay: {
      delay: 0, // 途切れなくループ
    },
    breakpoints: {
    767: {
      slidesPerView: 5,
      spaceBetween: 0
    }
  }
  });
  $(document).ready(function(){
    // Change this to the correct selector for your nav.
    $('#fixed-text').midnight();
  });
});
</script>