<div class="bg-primary ">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <header class="mb-4 flex items-center justify-between py-4 md:py-8">
      <!-- logo - start -->
      <a href="/" class="inline-flex items-center gap-2.5 text-2xl font-bold text-neutral md:text-3xl" aria-label="logo">

        NekoSpot
      </a>
      <!-- logo - end -->

      <!-- nav - start -->
      <nav class="hidden gap-12 lg:flex">
        <a href="#" class="text-lg font-semibold text-neutral">Home</a>
        <a href="#" class="text-lg font-semibold text-neutral transition duration-100 hover:text-indigo-500 active:text-indigo-700">Features</a>
        <a href="#" class="text-lg font-semibold text-neutral transition duration-100 hover:text-indigo-500 active:text-indigo-700">Pricing</a>
        <a href="#" class="text-lg font-semibold text-neutral transition duration-100 hover:text-indigo-500 active:text-indigo-700">About</a>
      </nav>
      <!-- nav - end -->

      <!-- buttons - start -->
      <a href="#" class="hidden rounded-lg bg-gray-200 px-8 py-3 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base lg:inline-block">Menu</a>

      <button type="button" class="inline-flex items-center gap-2 rounded-lg bg-primary px-2.5 py-2 text-sm font-semibold text-neutral ring-indigo-300 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
        </svg>

        Menu
      </button>
      <!-- buttons - end -->
    </header>


  </div>
</div>

<section class="min-h-72 bg-white rounded-b-lg rounded-lg shadow-lg">
    <div class="container px-6 py-16 mx-auto">
        <div class="items-center lg:flex">
            <div class="w-full lg:w-1/2">
                <div class="lg:max-w-lg">
                    <h1 class="text-3xl font-semibold text-neutral lg:text-4xl">猫と出会える,ふれあえる<br>スポットが見つかる</h1>
                    
                    <p class="mt-3 text-neutral my-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro beatae error laborum ab amet sunt recusandae? Reiciendis natus perspiciatis optio.</p>
                    <div class="hidden lg:mx-auto lg:flex lg:w-full lg:justify-center lg:gap-2.5 ">
                    <%= link_to '猫スポットを探す', '#', class: "inline-block rounded-full bg-secondary px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:text-neutral hover:bg-primary focus-visible:ring active:bg-indigo-700 sm:w-1/2 text-base md:w-1/2" %>
                    <%= link_to 'LINEログイン', '#', class: "inline-block rounded-full bg-accent px-8 py-3 text-center text-sm font-semibold text-neutral outline-none ring-indigo-300 transition duration-100 hover:bg-primary focus-visible:ring active:bg-indigo-700 sm:w-1/2 text-base md:w-1/2" %>
                    </div>
                </div>
            </div>

            <div class="flex items-center justify-center w-full mt-6 lg:mt-0 lg:w-1/2">
            <%= image_tag 'TOP画像2.png' %>
            </div>
            <div class="mx-auto flex w-3/4 flex-col gap-2.5 justify-center sm:flex-row lg:hidden md:hidden">
            <%= link_to '猫スポットを探す', '#', class: "inline-block rounded-full bg-secondary px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:text-neutral hover:bg-primary focus-visible:ring active:bg-indigo-700 sm:w-1/2 text-base md:w-1/2" %>
            <%= link_to 'LINEログイン', '#', class: "inline-block rounded-full bg-accent px-8 py-3 text-center text-sm font-semibold text-neutral outline-none ring-indigo-300 transition duration-100 hover:bg-primary focus-visible:ring active:bg-indigo-700 sm:w-1/2 text-base md:w-1/2" %>
            </div>
        </div>
    </div>
</section>