<div class="bg-primary relative md:pb-16 md:mb-0 mb-20">



<div class="flex flex-col items-center justify-center w-full md:pt-20">
<div class="md:w-11/12 w-full">
<div data-controller="tabs rounded-t-lg" data-tabs-active-tab-class="-mb-px border-l border-t border-r rounded-t-lg">
  <ul class="list-reset flex border-b rounded-t-lg">
    <li class="-mb-px mr-1 w-1/2 bg-white rounded-t-lg text-center" data-tabs-target="tab" data-action="click->tabs#change">
      <a class="bg-white inline-block py-2 px-4 rounded-t-lg text-secondary hover:text-neutral font-semibold no-underline rounded-t-lg" href="#">ユーザー情報</a>
    </li>
    <li class="mr-1 w-1/2 bg-white rounded-t-lg text-center" data-tabs-target="tab" data-action="click->tabs#change">
      <a class="bg-white inline-block py-2 px-4 rounded-t-lg text-secondary hover:text-neutral font-semibold no-underline rounded-t-lg" href="#">口コミ一覧</a>
    </li>
  </ul>

  <div class="hidden bg-white py-4 px-4 w-full border-l border-b border-r rounded-b-lg rounded-r-lg" data-tabs-target="panel">
    <div class="w-11/12 mx-auto divide-y space-y-8 pb-8">
       <div class="justify-start grid grid-flow-col gap-8 mt-10">
       <div class="avatar">
       <div class="w-24 rounded-full">
       <%= image_tag("IMG_7062.JPG") %>
       </div>
     </div>
        <h2 class="text-xl font-zenmaru font-bold text-neutral flex items-center"><%= @user.name %></h2>
        </div>
    </div>

    <div class="w-full py-2 mt-2 origin-top-right bg-white dark:bg-gray-800 text-secondary">
    <%= link_to "#", class: "flex items-center p-3 text-sm capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white" do %>
        <p><i class="ph ph-pencil-simple fa-lg mr-1 fa-lg"></i> ユーザー情報編集</p>
    <% end %>
    <%= link_to terms_of_use_path, class: "md:hidden flex items-center p-3 text-sm capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white" do %>
        <p><i class="ph ph-file-text fa-lg mr-1"></i> 利用規約</p>
    <% end %>
    <%= link_to privacy_policy_path, class: "md:hidden flex items-center p-3 text-sm capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white" do %>
        <p><i class="ph ph-lock-key fa-lg mr-1"></i> プライバシーポリシー</p>
    <% end %>
    <%= link_to "https://twitter.com/819Chapchon", class: "md:hidden flex items-center p-3 text-sm capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white" do %>
        <p><i class="ph ph-envelope-simple fa-lg mr-1"></i> お問い合わせ</p>
    <% end %>
    <%= link_to destroy_user_session_path, class: "flex items-center p-3 text-sm capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white", data: { turbo_method: :delete } do %>
        <p><i class="ph ph-sign-out fa-lg mr-1"></i> ログアウト</p>
    <% end %>
</div>
  </div>

  <div class="hidden bg-white py-4 px-4 w-full border-l border-b border-r rounded-l-lg rounded-b-lg" data-tabs-target="panel">
    <div class="w-11/12 mx-auto divide-y space-y-8 pb-8">
        <h2 class="text-xl font-zenmaru font-bold text-neutral"><%= @user.name %>の口コミ一覧</h2>
        <% if @reviews.present? %>
            <%= render "users/reviews" %>
            <%= paginate @reviews %>
        <% else %>
            <div class="mx-auto flex w-1/2 flex-col items-center gap-2.5 justify-center w-3/5">
                <%= image_tag("936.png", class: "h-full md:h-64 md:w-56 flex items-center justify-center") %>
                <h3 class="font-bold flex items-center justify-center w-full font-zenmaru text-neutral"> <i class="ph ph-empty fa-lg"></i>  まだ投稿がありません</h3>
                <p class="text-sm flex items-center justify-center w-full text-secondary">レビューや猫スポットを投稿してさらに猫スポットを楽しもう！</p>
                <%= link_to "#", class: "block w-full" do %>
                    <button class="bg-accent text-white px-3 py-2 rounded-full flex mx-auto items-center justify-center w-full md:w-1/2">
                        <p><i class="ph ph-chat-circle-dots fa-lg"></i> 口コミを投稿する</p>
                    </button>
                <% end %>
            </div>
        <% end %>
        </div>
    </div>
</div>
</div>
</div>