<div class="hidden md:block md:fixed md:top-0 md:left-0 md:z-10 w-full" data-controller="login-modal">
  <div class="navbar bg-primary text-secondary ">
    <div class="flex-1">
      <%= link_to 'NekoSpot', map_spots_path, data: { turbo: false }, class: "btn btn-ghost text-xl" %>
    </div>
    <div class="flex-none" >
      <button type="button" data-action="click->login-modal#openModal" class="btn items-center justify-center h-full border-none px-4 hover:bg-gray-50 group">
        <i class="ph ph-sign-in fa-2xl text-secondary group-hover:text-neutral" aria-hidden="true"></i>
      </button>
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn m-1 border-none"><i class="ph ph-list fa-2xl"></i></div>
          <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-primary w-56 rounded-box">
            <li>
              <%= link_to map_spots_path, data: { turbo: false }, class: "flex items-center p-3 text-sm capitalize transition-colors duration-300 transform text-neutral dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white" do %>
                  <p><i class="ph-bold ph-magnifying-glass w-5 h-5 mb-2 font-semibold text-neutral group-hover:text-secondary" aria-hidden="true"></i>&emsp;検索</p>
              <% end %>
            </li>
            <li>
              <%= link_to spots_path, class: "flex items-center p-3 text-sm capitalize transition-colors duration-300 transform text-neutral dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white" do %>
                  <p><i class="ph-bold ph-list-dashes fa-lg w-5 h-4 mt-2 font-semibold text-neutral group-hover:text-secondary" aria-hidden="true"></i>&emsp;一覧</p>
              <% end %>
            </li>
            <li>
              <%= link_to start_diagnostics_path, class: "flex items-center p-3 text-sm capitalize transition-colors duration-300 transform text-neutral dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white" do %>
                  <p><i class="ph-fill ph-paw-print fa-lg w-5 h-4 mt-2 font-semibold text-neutral group-hover:text-secondary" aria-hidden="true"></i>&emsp;診断</p>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <%= render 'shared/login_modal' %>
    </div>
  </div>
</div>

<div class="fixed bottom-0 left-0 z-50 w-full h-16 bg-primary border-t border-primary-hover md:hidden" data-controller="login-modal">
    <div class="grid h-full max-w-lg grid-cols-4 mx-auto font-medium" >
        <%= link_to map_spots_path, data: { turbo: false }, class: "inline-flex mt-2 flex-col items-center justify-start px-2 hover:bg-gray-50 group" do %>
            <i class="ph-bold ph-magnifying-glass fa-lg w-5 h-4 mt-2 text-secondary group-hover:text-neutral" aria-hidden="true"></i>
            <span class="text-[9px] text-secondary dark:text-gray-400 group-hover:text-neutral">検索</span>
        <% end %>
        <%= link_to spots_path, class: "inline-flex flex-col items-center justify-start mt-2 px-2 hover:bg-gray-50 group" do %>
            <i class="ph-bold ph-list-dashes fa-lg w-5 h-4 mt-2 text-secondary group-hover:text-neutral" aria-hidden="true"></i>
            <span class="text-[9px] text-secondary dark:text-gray-400 group-hover:text-neutral">一覧</span>
        <% end %>
        <%= link_to start_diagnostics_path, class: "inline-flex mt-2 flex-col items-center justify-start px-2 hover:bg-gray-50 group" do %>
            <i class="ph-fill ph-paw-print fa-lg w-5 h-4 mt-2 text-secondary group-hover:text-neutral" aria-hidden="true"></i>
            <span class="text-[9px] text-secondary group-hover:text-neutral">診断</span>
        <% end %>
        <button type="button" data-action="click->login-modal#openModal" class="inline-flex mt-2 flex-col items-center justify-start px-2 hover:bg-gray-50 group">
            <i class="ph-bold ph-sign-in fa-lg w-5 h-4 mt-2 text-secondary group-hover:text-neutral" aria-hidden="true"></i>
            <span class="text-[9px] text-secondary dark:text-gray-400 group-hover:text-neutral">ログイン</span>
        </button>
    </div>
    <%= render 'shared/login_modal' %>
</div>
    </div>
</div>