<footer class="footer footer-center p-10 bg-primary text-secondary rounded">
  <nav class="grid grid-flow-col gap-4">
    <%= link_to '利用規約', '#' %>
    <%= link_to 'プライバシー・ポリシー', privacy_policy_path %>
    <%= link_to 'お問い合わせ', 'https://twitter.com/819Chapchon', target: '_blank', rel: 'noopener noreferrer' %>
  </nav> 
  <nav>
    <div class="grid grid-flow-col gap-4">
      <%= link_to 'https://twitter.com/819Chapchon', target: '_blank', rel: 'noopener noreferrer' do %><i class="fa-brands fa-square-x-twitter fa-2x"></i><% end %>
      <%= link_to '#' do %><i class="fa-brands fa-github fa-2x"></i><% end %>
    </div>
  </nav> 
  <aside>
    <p>Copyright © 2024 - All right reserved by ACME Industries Ltd</p>
  </aside>
</footer>
