<nav class="hidden md:block md:fixed md:top-0 md:left-0 md:z-50 w-full">
    <div class="navbar bg-primary text-primary ">
    <div class="flex-1">
        <%= link_to 'NekoSpot', spots_path, class: "btn btn-ghost text-xl" %>
    </div>
    <div class="flex-none">
        <div class="grid h-full max-w-lg grid-cols-4 mx-auto font-medium">
        <%= link_to spots_path, data: { "turbolinks" => false }, class: "inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 group" do %>
            <i class="ph-bold ph-magnifying-glass w-5 h-5 mb-2 text-secondary group-hover:text-neutral" aria-hidden="true"></i>
            <span class="text-sm text-secondary dark:text-gray-400 group-hover:text-neutral">検索</span>
        <% end %>
        <%= link_to "#", class: "inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 group" do %>
            <i class="ph-bold ph-list-dashes w-5 h-5 mb-2 text-secondary group-hover:text-neutral" aria-hidden="true"></i>
            <span class="text-sm text-secondary dark:text-gray-400 group-hover:text-neutral">一覧</span>
        <% end %>
        <%= link_to bookmarks_spots_path, class: "inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 group" do %>
            <i class="ph-fill ph-heart w-5 h-5 mb-2 text-secondary group-hover:text-neutral" aria-hidden="true"></i>
            <span class="text-sm text-secondary dark:text-gray-400 group-hover:text-neutral">お気に入り</span>
        <% end %>
        <%= link_to users_show_path(current_user), class: "inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 group" do %>
            <i class="ph ph-user-circle fa-lg w-5 h-5 mb-2 text-secondary group-hover:text-neutral" aria-hidden="true"></i>
            <span class="text-xs text-secondary dark:text-gray-400 group-hover:text-neutral">Myページ</span>
        <% end %>
        
        </div>
    </div>
    </div>
    </nav>

<% if controller_name == 'spots' && action_name == 'show' %>
  <%= render "shared/spot_show_header" %>
<% else %>
<div class="fixed bottom-0 left-0 z-50 w-full h-16 bg-primary border-t border-secondary md:hidden">
    <div class="grid h-full max-w-lg grid-cols-5 mx-auto font-medium">
        <%= link_to spots_path, data: { "turbolinks" => false }, class: "inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 group" do %>
            <i class="ph-bold ph-magnifying-glass w-5 h-5 mb-2 text-secondary group-hover:text-neutral" aria-hidden="true"></i>
            <span class="text-sm text-secondary dark:text-gray-400 group-hover:text-neutral">検索</span>
        <% end %>
        <%= link_to "#", class: "inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 group" do %>
            <i class="ph-bold ph-list-dashes w-5 h-5 mb-2 text-secondary group-hover:text-neutral" aria-hidden="true"></i>
            <span class="text-sm text-secondary dark:text-gray-400 group-hover:text-neutral">一覧</span>
        <% end %>
        <button type="button" class="inline-flex flex-col items-center justify-center px-4 hover:bg-gray-50 group">
        <i class="ph-bold ph-plus fa-lg w-5 h-5 mb-2 text-secondary group-hover:text-neutral" aria-hidden="true"></i>
            <span class="text-xs text-secondary group-hover:text-neutral">投稿する</span>
        </button>
        <%= link_to bookmarks_spots_path, method: :get, class: "inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 group" do %>
            <i class="ph-fill ph-heart w-5 h-5 mb-2 text-secondary group-hover:text-neutral" aria-hidden="true"></i>
            <span class="text-sm text-secondary dark:text-gray-400 group-hover:text-neutral">お気に入り</span>
        <% end %>
        <%= link_to users_show_path(current_user), method: :get, class: "inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 group" do %>
            <i class="ph ph-user-circle fa-lg w-5 h-5 mb-2 text-secondary group-hover:text-neutral" aria-hidden="true"></i>
            <span class="text-xs text-secondary dark:text-gray-400 group-hover:text-neutral">Myページ</span>
        <% end %>
    </div>
</div>
<% end %>