<div class="hidden fixed inset-0 flex items-center justify-center z-50 bg-gray-500 bg-opacity-50" data-login-modal-target="backGround">
  <dialog data-login-modal-target="dialog" class="hidden relative rounded-xl shadow-lg p-10 flex flex-col justify-center w-full md:w-3/5">
    <button type="button" data-action="click->login-modal#closeModal" class="absolute top-3 right-4">
      <i class="ph ph-x h-6 w-6 text-secondary"></i>
    </button>
      <div class="mx-auto flex flex-col justify-center items-center w-full">
        <%= image_tag("512.webp", class: "w-3/5") %>
        <h3 class="font-bold flex items-center justify-center w-full font-zenmaru text-neutral"> <i class="ph ph-sign-in fa-lg"></i>  ログインして続ける</h3>
        <p class="flex items-center justify-center w-full font-zenmaru text-secondary text-xs pt-2">▼ ログインすると使える機能</p>
        <div class="text-xs text-secondary flex items-center justify-center w-full">
          <ul class="py-2">
          <li><i class="ph ph-bookmark-simple fa-lg"></i> お気に入り</li>
          <li><i class="ph ph-chat-circle-dots fa-lg"></i> 口コミ投稿</li>
          <li><i class="ph ph-medal fa-lg"></i> メダル獲得</li>
          <li><i class="ph-fill ph-paw-print fa-lg"></i> 猫スポット投稿 / いいね</li>
          </ul>
        </div>
        <div class="flex-col items-center justify-center w-full space-y-2 mb-8 mt-4">
        <%= link_to user_line_omniauth_authorize_path, class: "flex items-center justify-center w-full", method: :post do %>
          <button class="bg-line-base text-white hover:bg-line-hover px-3 py-1.5 rounded-full flex items-center justify-center w-full md:w-4/5 text-sm">
          <%= image_tag("line_64.png", alt: "Logo", class: "h-10 mr-4 ") %>
            LINEでログイン
          </button>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <% end %>
        <%= link_to user_google_oauth2_omniauth_authorize_path, class: "flex items-center justify-center w-full", method: :post do %>
          <button class="bg-white text-google-text hover:bg-google-hover px-4 py-2 border border-google rounded-full flex items-center w-full justify-center md:w-4/5 text-sm">
          <%= image_tag("g-logo.png", alt: "Logo", class: "h-8 mr-4 ") %>
          Googleでログイン
          </button>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <% end %>
        </div>
      </div>
    </div>
  </dialog>
  </div>