<dialog id="my_modal_3" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2 text-secondary">✕</button>
    </form>
    <div class="mx-auto flex flex-col gap-2.5 justify-center w-3/5">
    <%= image_tag("512.png", class: "h-full") %>
    <h3 class="font-bold flex items-center justify-center w-full font-zenmaru text-neutral"> <i class="ph ph-sign-in fa-lg"></i>  ログインして続ける</h3>
    <div class="text-xs text-secondary items-center justify-center w-full ml-3.5 md:ml-6">
    <p>&emsp;ログインすると使えるようになる機能</p>
    <ul class="py-2">
    <li><i class="ph ph-bookmark-simple fa-lg"></i> お気に入り機能</li>
    <li><i class="ph ph-chat-circle-dots fa-lg"></i> 口コミ投稿機能</li>
    <li><i class="ph ph-medal fa-lg"></i> 投稿やチェックインによるメダル獲得</li>
    <li><i class="ph-fill ph-paw-print fa-lg"></i> みんなの猫スポット投稿 / いいね</li>
    </ul>
    </div>
    <%= link_to user_line_omniauth_authorize_path, class: "block w-full", method: :post do %>
      <button class="bg-line-base text-white hover:bg-line-hover px-3 py-1.5 rounded-full flex items-center justify-center w-full">
      <%= image_tag("line_64.png", alt: "Logo", class: "h-10 mr-4 ") %>
  LINEでログイン
</button>
    <% end %>
    <%= link_to user_google_oauth2_omniauth_authorize_path, class: "block w-full", method: :post do %>
      <button class="bg-white text-google-text hover:bg-google-hover px-4 py-2 border border-google rounded-full flex items-center justify-center w-full">
      <%= image_tag("g-logo.png", alt: "Logo", class: "h-8 mr-4 ") %>
  Googleでログイン
</button>
    <% end %>
  </div>
  </div>
</dialog>