<%= form_with model: @review, url: spot_reviews_path(@spot), html: { class: "mx-auto flex items-center justify-center" } do |f| %>
    <%= f.label :rating, "評価" %>
    <div class="rating">
      <input type="radio" name="review[rating]" value="1" class="mask mask-star-2 bg-orange-400" />
      <input type="radio" name="review[rating]" value="2" class="mask mask-star-2 bg-orange-400" />
      <input type="radio" name="review[rating]" value="3" class="mask mask-star-2 bg-orange-400" />
      <input type="radio" name="review[rating]" value="4" class="mask mask-star-2 bg-orange-400" />
      <input type="radio" name="review[rating]" value="5" class="mask mask-star-2 bg-orange-400" />
    </div>
    <%= f.label :body, "コメント" %>
    <%= f.text_area :body %>
    <%= f.submit "投稿する" %>
<% end %>