<div class="grid sm:grid-cols-2 lg:grid-cols-3 lg:gap-12">
    <div>
        <div class="md:mx-8 my-3 rounded-lg border p-4 mx-auto justify-center items-center">
            <h2 class="pl-3 mb-3 text-xl font-zenmaru font-bold text-neutral">スポット平均</h2>

            <div class="mb-0.5 flex items-center gap-2">
            <!-- stars - start -->
                <div class="rating rating-md rating-half" id="average_rating">
                    <input type="radio" name="rating-10" class="rating-hidden" />
                    <% (1..5).each do |i| %>
                        <input type="radio" name="rating-10" class="bg-yellow-400 mask mask-star-2 mask-half-1" <%= 'checked' if @average_rating >= (i - 0.5) && @average_rating < i %> />
                        <input type="radio" name="rating-10" class="bg-yellow-400 mask mask-star-2 mask-half-2" <%= 'checked' if @average_rating >= i %> />
                    <% end %>
                    <span class="text-sm font-semibold text-secondary"><%= @average_rating.round(2) %></span>
                </div>
            <span class="text-sm font-semibold text-secondary" id="reviews_count"> (<%= @all_reviews_count %>件)</span>
        </div>
    </div>
</div>
<div class="lg:col-span-2 md:mr-8">
    <h2 class="my-3 text-xl font-zenmaru font-bold text-neutral border-bottom">口コミ一覧</h2>
    <div class="grid">
        <div id="reviews" class="space-y-8 divide-gray-200 divide-y" >
            <% spot.reviews.each do |review| %>
                <%= render partial: "reviews/review", locals: { review: review } %>
            <% end %>
        </div>
    <%= paginate @reviews %>
    </div>
</div>



