<% if @search_by_spot_name %>
  <% @reviews.each do |review| %>
    <li class="bg-white flex items-center gap-x-3.5 py-2 px-3 text-sm text-secondary capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100" role="option" data-autocomplete-value="<%= review.id %>" data-autocomplete-label="<%= review.spot.name %>">
      <%= review.spot.name %>
    </li>
  <% end %>
<% elsif @search_by_spot_address %>
  <% @reviews.each do |review| %>
    <li class="bg-white flex items-center gap-x-3.5 py-2 px-3 text-sm text-secondary capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100" role="option" data-autocomplete-value="<%= review.id %>" data-autocomplete-label="<%= review.spot.address %>">
      <%= review.spot.address %>
    </li>
  <% end %>
<% elsif @search_by_body %>
  <% @reviews.each do |review| %>
    <li class="bg-white flex items-center gap-x-3.5 py-2 px-3 text-sm text-secondary capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100" role="option" data-autocomplete-value="<%= review.id %>" data-autocomplete-label="<%= review.body %>">
      <%= review.body %>
    </li>
  <% end %>
<% end %>